# Practice Math w/ code

In [1]:
2 * 3 # Multiplication

6

In [2]:
4 - 1 # Subtraction

3

In [6]:
1
2

a = 1 # assigning 1 to the variable called a
a + 2 # Adding 2

3

In [8]:
1
2
3
4
5

df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
               Job_role = c("manager", "Team Lead", "Developer" )
               )


print(df)

NameError: name 'data' is not defined